#casasTabuleiro {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 78px;
    margin-left: 0px;
    width: 1366px;
    height: 612px;
}

#casasTabuleiro > figure {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 69px;
    width: 5.5%;
    height: 9%;
}

#casasTabuleiro > figure > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#casasTabuleiro > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    height: 81px;
}

#casasTabuleiro > #divCasaInicio {
    margin-top: 48px;
    width: 159.5px;
    height: 150px;
}

#divCasa1 {
    margin-left: 161.5px;
    margin-top: 124px;
}

#divCasa2 {
    margin-left: 221px;
    margin-top: 190px;
}

#divCasa3 {
    margin-left: 259px;
    margin-top: 272px;
}

#divCasa4 {
    margin-left: 301px;
    margin-top: 352.5px;
}

#divCasa5 {
    margin-left: 355.4px;
    margin-top: 424px;
}

#divCasa6 {
    margin-left: 426px;
    margin-top: 479px;
}

#divCasa7 {
    margin-left: 509px;
    margin-top: 511px;
}

#divCasa8 {
    margin-left: 598.5px;
    margin-top: 523.5px;
}

#divCasa9 {
    margin-left: 689px;
    margin-top: 522px;
}

#divCasa10 {
    margin-left: 775.5px;
    margin-top: 500px;
}

#divCasa11 {
    margin-left: 837px;
    margin-top: 435.5px;
}

#divCasa12 {
    margin-left: 830px;
    margin-top: 350.5px;
}

#divCasa13 {
    margin-left: 765px;
    margin-top: 287.5px;
}

#divCasa14 {
    margin-left: 682px;
    margin-top: 253.5px;
}

#divCasa15 {
    margin-left: 598px;
    margin-top: 220.5px;
}

#divCasa16 {
    margin-left: 535px;
    margin-top: 157.5px;
}

#divCasa17 {
    margin-left: 550.5px;
    margin-top: 74.5px;
}

#divCasa18 {
    margin-left: 628px;
    margin-top: 23px;
}

#divCasa19 {
    margin-left: 712.5px;
    margin-top: 8px;
}

#divCasa20 {
    margin-left: 799.5px;
    margin-top: 28.5px;
}

#divCasa21 {
    margin-left: 871.5px;
    margin-top: 80px;
}

#divCasa22 {
    margin-left: 928.5px;
    margin-top: 149px;
}

#divCasa23 {
    margin-left: 982px;
    margin-top: 223px;
}

#divCasa24 {
    margin-left: 1042.5px;
    margin-top: 290.5px;
}

#divCasa25 {
    margin-left: 1117px;
    margin-top: 340.5px;
}

#casasTabuleiro > #divCasaChegada {
    margin-left: 1202.5px;
    margin-top: 333px;
    width: 163.5px;
    height: 161px;
}